# https://git-scm.com/book/en/Customizing-Git-Git-Attributes

# Auto detect text files and perform LF normalization
* text=auto

# Don't diff or textually merge source maps
*.map   binary

# Avoid unreadable diffs for generated text files, eg: *.min.js
*.min.* binary

# Image files
*.jpg   binary
*.jpeg  binary
*.png   binary
*.gif   binary
*.ico   binary

# Export ignore
tests export-ignore
__test__ export-ignore
.github export-ignore
