
.loading-overlay {
  @include overlay;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  &.is-active {
    display: flex
  }
  .loading-background {
    @include overlay;
    background: $loaderBackground;
    opacity: 0.5;
  }
  .loading-icon {
    position: relative;
    &:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid $loaderColor;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 5em;
      left: calc(50% - 2.5em);
      position: absolute;
      top: 0;
      width: 5em;
    }
  }
}
